.class-newsletter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-newsletter-images {
  height: 220px;
  width: 280px;
}
.a-hover {
  color: var(--ct-link-hover-color);
  font-weight: bold;
  text-decoration: underline;
}
.news-newsletter-trash {
  color: red;
  size: 25px;
}
.news-newsletter-card {
  display: flex;
  transition: transform 450ms;
}
.newsletter-image:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.ds-card-link {
  align-self: start;
  color: var(--ds-color-london-10);
  font-family: var(--ds-type-system-sans);
  font-size: var(--ds-type-scale-0);
  font-weight: 300;
  line-height: var(--ds-type-leading-lower);
  margin-top: 0.25rem;
  outline: solid transparent;
}
.newsletter-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.slide-out {
  opacity: 0;
  transform: translateX(100);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.arrow {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}

.arrow span {
  display: block;
  width: 20px;
  height: 3px;
  margin: 3px 0;
  background-color: blueviolet;
  transition: transform 0.3s ease-in-out;
}

.card-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  outline: none;
  padding: 12px 0;
  width: 100%;
}
.content-jscontroller {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 48px;
}

.newsletter-card {
  max-height: 800px;
  max-width: 100px;
}

.new-newsletter-card {
  max-height: 800px;
  max-width: 840px;
}

.template-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.template-header {
  grid-row: 1/2;
  text-align: center;
  width: 100%;
  margin: 0%;
}

.template-body {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.template-body-header {
  grid-column: 1/3;
}

.template-body-text {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.template-topics {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.template-topic {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: orange;
}

.template-card-after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: darkslateblue;
}
.content-template-images {
  height: 400px;
  width: 425px;
}

.template-card-before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-color: darkslateblue;
}

.content-array {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.news-content-images {
  height: 350px;
  width: 400px;
}

.input[type='text'] {
  width: 100%;
  max-width: width 400px;
  padding: 10px;
  border: radius 5px;
  border: 1px solid #ccc;
}
